<form [formGroup]="formArbitre" (ngSubmit)="addArbitre()">
  <div class="form-group">
    <label for="idArbitre">ID Arbitre</label>
    <input type="text" class="form-control" id="idArbitre" formControlName="idarbitre">
  </div>
  <div class="form-group">
    <label for="nationality">Nationality</label>
    <input type="text" class="form-control" id="nationality" formControlName="nationality">
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" formControlName="name">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
