<table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">idarbitre</th>
        <th scope="col">nationality</th>
        <th scope="col">name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let arbitre of arbitres">
        <td>{{arbitre.idarbitre}}</td>
        <td>{{arbitre.nationality}}</td>
        <td>{{arbitre.name}}</td>
        <td><img id="{{arbitre.idarbitre}}" (click)="supprimer($event)" class="icone" src="https://cdn3.iconfinder.com/data/icons/softwaredemo/PNG/256x256/DeleteRed.png"  ></td>
    </tr>
    </tbody>
  </table>